.Calendar {
    width: 258px;
    margin: 0 auto 20px;
    background: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px #d1d1d1;
}

.Calendar .Calendar-header h3 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background: #a7ffa3;
    font-weight: normal;
}

.Calendar .Calendar-week {
    overflow: hidden;
    margin-bottom: 1px;
}

.Calendar .Calendar-week:last-child {
    margin-bottom: 0;
}

.Calendar .Calendar-week .Calendar-day {
    float: left;
    margin-right: 1px;
    font-size: 14px;
    line-height: 14px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
}

.Calendar .Calendar-week .Calendar-day:last-child {
    margin-right: 0;
}

.Calendar .Calendar-week .Calendar-day.title {
    font-size: 16px;
}

.Calendar .Calendar-week .Calendar-day div {
    margin: 0 auto;
}

.Calendar .Calendar-week .Calendar-day.day-gray {
    background: lightgray;
}

.Calendar .Calendar-week .Calendar-day.day-yellow {
    background: yellow;
}

.Calendar .Calendar-week .Calendar-day.day-green {
    background: lightgreen;
}

.Calendar .Calendar-week .Calendar-day.day-orange {
    background: orange;
}
